.form1{
	width: 100%;
	display:block;
	padding:20px !important;
	box-shadow: 0px 1px 5px #ccc;
	margin:40px auto;

	.title{
		font-size: 25px;
		text-align: center;
		color: $colorprimario;
		margin-bottom: 20px;

	}
	.form2{
		width: calc(100% - 20px);
		display:block;
		height: 40px;
		padding-left: 10px;
		margin: 10px 0;
		border: 1px solid #ccc;
	}

	textarea{ 
		padding-top:10px;
		height: 60px !important;
		resize: none;
	}



	%button2{
		margin: 20px;
		text-align: center;
		width: 180px;
		height: 40px;
		display: inline-block;
		border: medium none;
		color: white;
		text-decoration: none;
		padding-top:10px;

	
	}

	.btn_enviar{
		margin-left: 102px;
		background: #43a047;
		@extend %button2;
		&:hover{
			background: #388e3c;
		}	
	}


	.btn_listar{
		margin-left: 0px;
		background:#42a5f5;
		@extend %button2;
		&:hover{
			background: #2196f3;
		}	
	}



}

select {
	width: calc(100% - 20px);
	display:block;
	height: 40px;
	padding-left: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	position: relative;
	overflow: hidden;
}



.form2 select {
	width: 100%;
	height: 100%;
	border: none;
	box-shadow: none;
	background-color: transparent;
	background-image: none;
	appearance: none;


}


%seleccion{
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding: 5px 15px 5px 51px;
	font-size: 1em;
	transition: all .3s ease;
	margin: 10px 0px;
	&:hover {
		background: rgba(red, .1);
	}
	&:before {
		content: "";
		display: inline-block;

		width: 17px;
		height: 17px;
		position: absolute;
		top: 1px;
		left: 15px;
		background: none;
		border: 3px solid $colorprimario;
	}
}
.radio label{
	&:before {
		border-radius: 50% !important;
	}
	@extend %seleccion;
	
}
	
.checkbox label{
	@extend %seleccion;
}


.checkbox{
	input[type="checkbox"]:checked + label:before {
			display: none;
		}
	input[type="checkbox"]:checked + label{
			background: $colorprimario;
			color: #fff;
			padding: 5px 15px;
		}
}

.radio{
		input[type="radio"]:checked + label:before {
				display: none;
			}
		input[type="radio"]:checked + label{
				background: $colorprimario;
				color: #fff;
				padding: 5px 15px;
			}
}

.undo{
	font-size: 20px;
	color:#42A5F5;
	text-decoration:none;
	float:right;
	margin-top:20px;
	&:hover{
		color: #2196f3;
		font-weight: bold;
	}

}